//  ========= MEDIA QUERIES ==========
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1024px;
$desktop-min: 1025px;
$container-max-width: 1980px;

// ========== COLORS ==========

// Palette URL: http://paletton.com/#uid=41g0X0k-d-dbQP6mLCOCOmLP6bQ */
// Feel free to copy&paste color codes to your application */

// Main Primary color : Jaune
// Main Secondary color (1) : Rose
// Main Secondary color (2) : Vert
// Main Complement color : Bleu

$palettes: (
	jaune: (
		dark: #5E4900,
		mid-dark: #B58D00,
		base: #FFC600,
		mid-ligth: #FFD64A,
		light: #FFEAA1
	),
	rose: (
		dark: #440037,
		mid-dark: #820069,
		base: #C0009C, 
		mid-light: #C83AAD, 
		light: lighten(#E490D4, 15%)
	),
	vert: (
		dark: #003E2B, 
		mid-dark: #007854,
		base: #00B47D,
		mid-light: #37BE95,
		light: lighten(#8CDFC6, 15%)
	), 
	bleu: (
		dark: #090342, 
		mid-dark: #170D7E,
		base: #2516BC,
		mid-light: #574CC4,
		light: lighten(#A09AE2, 15%)
	), 
	gris: (
		dark: #000000,
		base: lighten(#000000, 50%),
		light: #FFFFFF
	)
);

@function palette($palette, $tone: 'base'){
	@return map-get(map-get($palettes, $palette), $tone);
}

// pour appeler une couleur ex.: h1{color: palette(jaune, dark);}
// Ton de couleur par défaut = base ex.: h1{color: palette(jaune);}