// As hex codes */

$color-primary-0: #FFA500;	// Main Primary color */
$color-primary-1: #FFD68B;
$color-primary-2: #FFB630;
$color-primary-3: #B97800;
$color-primary-4: #5E3D00;

$color-secondary-1-0: #FFCF00;	// Main Secondary color (1) */
$color-secondary-1-1: #FFE98B;
$color-secondary-1-2: #FFD830;
$color-secondary-1-3: #B99600;
$color-secondary-1-4: #5E4C00;

$color-secondary-2-0: #FF6C00;	// Main Secondary color (2) */
$color-secondary-2-1: #FFBC8B;
$color-secondary-2-2: #FF8830;
$color-secondary-2-3: #B94E00;
$color-secondary-2-4: #5E2800;