<!DOCTYPE html>
<html lang="fr" ng-app="tamagoshiApp">
<head>
	<meta charset="UTF-8">
	<title>Tamagoshi</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-0UBL8wxZ28kqJ8w8N8RUV0odBG5w8D/Y+rb+o7hr2F3dS9twlAE8S7VUtVSRe5cc" crossorigin="anonymous">
	<link rel="stylesheet" href="dist/style.css">
</head>
<body class="container-fluid" ng-controller="HomeController as hc">
	<!-- HEADER -->
	<section class="page-header">
		<h1>Tamagochu App</h1>
		<button class="btn btn-primary" ng-click="hc.updateStats(hc.player, hc.sysMsg); hc.decStats(hc.player)">Commencer la partie</button>
	</section>
	
	<div class="row">
		<!-- SECTION PRINCIPALE --> 
		<div class="col-xs-6 col-md-8">
			<!-- AFFICHAGE MSG -->
			<!-- <msg-directive sys-msg="hc.sysMsg"></msg-directive > -->
			<div class='msg col-md-12'>
				<div class="alert alert-info">
				  <h4 class="msgSystem"></h4>
				</div>
			</div>
			<!-- AFFICHAGE AVATAR -->
			<!-- <div class="col-xs-12 col-md-6 pull-left"> -->
				<div class="avatar col-xs-12 col-md-12">
					<img ng-src="{{ hc.player.img }}" alt="avatar Tamagoshu">
				</div>
			<!-- </div> -->
		</div>
			
		<!-- AFFICHAGE SIDEBAR	 -->
		<div class="col-xs-6 col-md-4">
			<!-- AFFICHAGE STATS -->
			<div data-stats-directive data-player="hc.player"></div>

			<!-- AFFICHAGE PANEL ACTIONS -->
			<div class="panel panel-primary">
				<!-- panel heading -->
				<div class="panel-heading">
					<h2 class="panel-title">Actions</h2>
				</div>
				<!-- panel body -->
				<div class="panel-body">
					<article class="col-xs-12">
						<h3>Life</h3>
						<div class="btn-group  btn-group-justified" role="group">
							<div class="btn-group" role="group">
								<button class="btn btn-info" ng-click="hc.lifeFactory.buyFood(hc.player, hc.sysMsg)">Buy Food</button>
							</div>
							<div class="btn-group" role="group">
								<button class="btn btn-info" ng-click="hc.lifeFactory.eat(hc.player, hc.sysMsg)">Eat</button>
							</div>
							<div class="btn-group" role="group">
								<button class="btn btn-info" ng-click="hc.lifeFactory.wash(hc.player, hc.sysMsg)">Wash</button>
							</div>
						</div>
					</article>
					<article  class="col-xs-12">
						<h3>Work</h3>
						<div class="btn-group btn-group-justified" role="group">
							<div class="btn-group" role="group">
								<button class="btn btn-info" ng-click="hc.workFactory.training(hc.player, hc.sysMsg)">Training</button>
							</div>
							<div class="btn-group" role="group">
								<button class="btn btn-info" ng-click="hc.workFactory.combat(hc.player, hc.sysMsg)">Combat</button>
							</div>
						</div>
					</article>
					<article  class="col-xs-12">
						<h3>Fun</h3>
						<div class="btn-group  btn-group-justified" role="group">
							<div class="btn-group" role="group">
								<button class="btn btn-info" ng-click="hc.funFactory.playBall(hc.player, hc.sysMsg)">Ballon</button>
							</div>
							<div class="btn-group" role="group">
								<button class="btn btn-info" ng-click="hc.funFactory.playWithToy(hc.player, hc.sysMsg)">Peluche</button>
							</div>
							<div class="btn-group" role="group">
								<button class="btn btn-info" ng-click="hc.funFactory.playWithFriend(hc.player, hc.sysMsg)">Friend</button>
							</div>
						</div>
					</article>					
				</div>
			</div>
			<!-- FIN PANEL ACTIONS -->
		</div>
		<!-- FIN SIDEBAR  -->
	</div>

	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="dist/scripts.js"></script>
</body>
</html>