<!-- DEBUT DIRECTIVE -->
<div class="panel panel-primary">
	<!-- PANEL HEADING -->
	<div class="panel-heading">
    	<h2 class="panel-title">Statistiques</h2>
  	</div> 
  	<!-- FIN PANEL HEADING -->
	<!-- PANEL BODY -->
	<div class="panel-body">
		<!-- Article Nom, Niveau, Experience, Money -->
		<article class="col-xs-12 col-md-6">
			<h3 ng-bind="player.name"></h3>
			<p class="col-xs-6">Niveau : <span ng-bind="player.level"></span></p>
			<p class="col-xs-6">Money : <span ng-bind="player.money"></span>€</p>
			<div id="playerXp">
			  	<p>Expérience</p>
			    <div class="progress">
					<div class="progress-bar progress-bar-info" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" >
				  		<span ng-bind="player.xp"></span>%
					</div>
				</div>
			</div>
		</article>
		<!-- Article Stats Life, Food, Health, Fun -->
		<article class="col-xs-12 col-md-6">
			<h3 class="hidden-sm-down">Niveaux</h3>
			<div class="col-xs-6" id="playerLife">
				<p>Life</p>
			    <div class="progress">
					<div class="progress-bar progress-bar-info" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" >
				  		<span ng-bind="player.life"></span>%
					</div>
				</div>
			</div>
			<div class="col-xs-6" id="playerFood">
				<p>Food</p>
			    <div class="progress">
					<div class="progress-bar progress-bar-info" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" >
				  		<span ng-bind="player.food"></span>%
					</div>
				</div>
			</div>
			<div class="col-xs-6" id="playerHealth">
				<p>Hygiene</p>
			    <div class="progress">
					<div class="progress-bar progress-bar-info" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" >
				  		<span ng-bind="player.health"></span>%
					</div>
				</div>
			</div>
			<div class="col-xs-6" id="playerFun">
				<p>Fun</p>
			    <div class="progress">
					<div class="progress-bar progress-bar-info" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" >
				  		<span ng-bind="player.fun"></span>%
					</div>
				</div>
			</div>
		</article>
  	</div> 
  	<!-- FIN PANEL BODY -->
</div> 
<!-- FIN DIRECTIVE -->
